<app-auth-navbar></app-auth-navbar>
<form>
  <h1>Register</h1>
  <div class="input-container">
    <label for="name" style="margin-right: auto">Name</label>
    <input id="name" type="text" placeholder="input your name">
  </div>
  <div class="input-container">
    <label for="email" style="margin-right: auto">Email</label>
    <input id="email" type="text" placeholder="input your email">
  </div>
  <div class="input-container">
    <label for="password" style="margin-right: auto">Password</label>
    <input id="password" type="password" placeholder="input your password">
  </div>
  <div class="input-container">
    <label for="confirm_password" style="margin-right: auto">Confirm your password</label>
    <input id="confirm_password" type="password" placeholder="confirm your password">
  </div>
  <button>Ok</button>
</form>
