<app-auth-navbar></app-auth-navbar>
<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Register</h1>
  <div class="input-container">
    <label>Email</label>
    <input type="text" placeholder="Email" formControlName="email">
    <div *ngIf="form.get('email').invalid && form.get('email').touched">
      <strong class="error-notification" *ngIf="form.get('email').errors.required">Email can not be empty </strong>
      <strong *ngIf="form.get('email').errors.email">Email is incorrect</strong>
    </div>
  </div>
  <div class="input-container">
    <label>Password</label>
    <input type="password" placeholder="Пароль" formControlName="password">
    <div *ngIf="form.get('password').invalid && form.get('password').touched">
      <small *ngIf="form.get('password').errors.required">
        Password can not be empty
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Length must be longer than {{form.get('password').errors.minlength.requiredLength}}.
        No it is {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>
  <div class="input-container">
    <label>Confirm password</label>
    <input type="password" placeholder="Confirm your password" formControlName="confirmPassword">
    <div *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched"
      class="validation">
      <small *ngIf="form.get('confirmPassword').errors.required">
        Confirm password can not be empty
      </small>
      <small *ngIf="form.get('confirmPassword').errors.notMatch">
        Passwords must match
      </small>
    </div>
  </div>
  <button class="btn" type="submit" [disabled]="form.invalid">Ok</button>
</form>
