form{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border: solid black 2px;
  margin: 4% 0 0 40%;
  h1 {
    margin: 0;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  label{
    margin:5px;
    font-size: large;
  }
  input{
    margin:5px;
    min-height: 25px;
    padding: 3px;
  }
}

button{
  margin: 5px;
  min-height: 25px;
  font-size: large;

}

